<?xml version="1.0" encoding="utf-8" ?>
<input-files>
  <file path="\\at100\user\WK\Microsoft\BinConv\Test Suite\doc2x\IT_Apogée.odt.doc" />
  <file path="\\at100\user\WK\Microsoft\BinConv\Test Suite\doc2x\25406_Center_City_Consortium.doc" />
  <file path="\\at100\user\WK\Microsoft\BinConv\Test Suite\doc2x\Redclub_Bridge.odt.doc" />
  <file path="\\at100\user\WK\Microsoft\BinConv\Test Suite\doc2x\EU_convocatoria_ES.doc" />
  <file path="\\at100\user\WK\Microsoft\BinConv\Test Suite\doc2x\EU_eurobarometer.doc" />
  <file path="\\at100\user\WK\Microsoft\BinConv\Test Suite\doc2x\Guide_Licences_Microsoft_mai07.doc" />
  <file path="\\at100\user\WK\Microsoft\BinConv\Test Suite\doc2x\RichKidd_Ventures.doc" />
  <file path="\\at100\user\WK\Microsoft\BinConv\Test Suite\doc2x\OOO_HvadEr.odt.doc" />
</input-files>